<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<link type="text/css" rel="stylesheet" href="includes/columnlist.css" />
		<script type="text/javascript" src="includes/sortabletable.js"></script>
		<script type="text/javascript" src="includes/columnlist.js"></script>
		<style type="text/css">
			body { background: threedface; }
		</style>
	</head>
	<body>
		<div id="container" class="webfx-columnlist" style="margin-left: 50px; width: 640px; height: 480px;">
			<div id="head" class="webfx-columnlist-head">
				<table cellspacing="0" cellpadding="0" style="width: 200px;">
					<tr>
						<td>Flavor<img src="images/asc.png"/></td><td>Color<img src="images/asc.png"/></td><td>Texture<img src="images/asc.png"/></td><td>Price<img src="images/asc.png"/></td>
					</tr>
				</table>
			</div>
			<div id="body" class="webfx-columnlist-body">
				<table cellspacing="0" cellpadding="0" style="width: 200px;">
					<colgroup span="4">
						<col style="width: 30%;" />
						<col style="width: 30%;" />
						<col style="width: 30%;" />
						<col style="width: 10%;" />
					</colgroup>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
				</table>
			</div>
		</div>





<div id="container2" class="webfx-columnlist" style="margin-left: 50px; width: 640px; height: 480px;">
			<div id="head2" class="webfx-columnlist-head">
				<table cellspacing="0" cellpadding="0" style="width: 200px;">
					<tr>
						<td>Flavor<img src="images/asc.png"/></td><td>Color<img src="images/asc.png"/></td><td>Texture<img src="images/asc.png"/></td><td>Price<img src="images/asc.png"/></td>
					</tr>
				</table>
			</div>
			<div id="body2" class="webfx-columnlist-body">
				<table cellspacing="0" cellpadding="0" style="width: 200px;">
					<colgroup span="4">
						<col style="width: 30%;" />
						<col style="width: 30%;" />
						<col style="width: 30%;" />
						<col style="width: 10%;" />
					</colgroup>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
					<tr><td>Vanilla</td><td>White</td><td>Smooth</td><td>10</td></tr>
					<tr><td>Pear</td><td>Green</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Strawberry</td><td>Pink</td><td>Smooth</td><td>8</td></tr>
					<tr><td>Chocolate</td><td>Brown</td><td>Chunky</td><td>8</td></tr>
					<tr><td>Pistachio</td><td>Light green</td><td>Chunky</td><td>9</td></tr>
				</table>
			</div>
		</div>
		
				
		</body>
	<script type="text/javascript">
		var o = new WebFXColumnList();
		var rc = o.bind(document.getElementById('container'), document.getElementById('head'), document.getElementById('body'));
		o.setSortTypes([TYPE_STRING, TYPE_STRING, TYPE_STRING, TYPE_NUMBER]);
		o._setAlignment();
		//o.resize(640, 480);
		//o.sort(0);
	</script>
	
		<script type="text/javascript">
		var o = new WebFXColumnList();
		var rc = o.bind(document.getElementById('container2'), document.getElementById('head2'), document.getElementById('body2'));
		o.setSortTypes([TYPE_STRING, TYPE_STRING, TYPE_STRING, TYPE_NUMBER]);
		o._setAlignment();
		//o.resize(640, 480);
		//o.sort(0);
	</script>
</html>
