<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>ColumnList Downloads (WebFX)</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="local/webfxlayout.js"></script>
	</head>
	<body>
		<!-- WebFX Layout Include -->
		<script type="text/javascript">
			//<![CDATA[
			var articleMenu= new WebFXMenu;
			articleMenu.left  = 384;
			articleMenu.top   = 86;
			articleMenu.width = 140;
			articleMenu.add(new WebFXMenuItem("Introduction", "columnlist.html"));
			articleMenu.add(new WebFXMenuItem("Implementation", "implementation.html"));
			articleMenu.add(new WebFXMenuItem("Usage", "usage.html"));
			articleMenu.add(new WebFXMenuItem("API", "api.html"));
			articleMenu.add(new WebFXMenuItem("Demo", "demo.html"));
			
			
			articleMenu.add(new WebFXMenuSeparator);
			articleMenu.add(new WebFXMenuItem("Download Latest (1.04)", "/download/collist104.zip"));
			articleMenu.add(new WebFXMenuItem("Other Downlods", "download.html"));
			
			webfxMenuBar.add(new WebFXMenuButton("Article Menu", null, null, articleMenu));
			webfxLayout.writeTitle("ColumnList Downloads");
			webfxLayout.writeMenu();
			webfxLayout.writeDesignedByEdger();
			//]]>
		</script>
		<!-- End WebFX Layout Includes -->
		<div class="webfx-main-body">
			<h2>Downloads</h2>
			<p>
				There are 5 downloads available for this article.
			</p>

			<ul>
				<li><a href="/download/collist104.zip"><strong>version 1.04 - latest</strong></a></li>
				<li><a href="/download/collist102.zip">version 1.03</a></li>
				<li><a href="/download/collist102.zip">version 1.02</a></li>
				<li><a href="/download/collist101.zip">version 1.01</a></li>
				<li><a href="/download/collist100.zip">version 1.0</a></li>
			</ul>
			
			<p>
				The latest version is highly recommended, and is clearly marked, however older version may also be available.
			</p>
			
			
			<ul>
				<li><a href="columnlist.html">Introduction</a></li>
				<li><a href="implementation.html">Implementation</a></li>
				<li><a href="usage.html">Usage</a></li>
				<li><a href="api.html">API</a></li>
				<li><a href="demo.html">Demo</a></li>
				<li><a href="/download/collist104.zip">Download Latest (1.04)</a></li>
				<li>Other Downloads</li>
			</ul>
			
			<p class="author">Author: <a href="http://webfx.eae.net/contact.html#emil">Emil A Eklund</a></p>
			<!-- end webfx-main-body -->
		</div>
	</body>
</html>
