body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre dl, dt, dd, form, a, input, th, td
{margin: 0; padding: 0; border: 0; outline: none;}
body {
	background-color: #0065B3;
}
.top-left {
	background-image: url(top-left.gif);
	background-repeat: no-repeat;
	height: 93px;
	width: 413px;
}
.top-center {
	background-image: url(top-center.gif);
	background-repeat: repeat-x;
	width: auto;
	height: 93px;
}
.top-right {
	background-image: url(top-right.gif);
	background-repeat: no-repeat;
	height: 93px;
	width: 564px;
}
.bom{
	background-image: url(bom.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 27px;
	width: 100%;
	font-size: 13px;
	color: #FFF;
}
.bom a {
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}
.bom a:hover {
	color: #FFFF00;
}
.bom-left {
	width: 33%;
	text-align: left;
	padding-left: 20px;
	padding-top: 4px;
}
.bom-center {
	width: 33%;
	text-align: center;
	padding-top: 4px;
}
.bom-right {
	width: 33%;
	text-align: right;
	padding-right: 20px;
	padding-top: 4px;
}
.nav{
	background-image: url(nav-bg.gif);
	background-repeat: repeat-x;
	height: 30px;
	width: 100%;
}
.box1-tab{font-size: 1px;}
.box1-top-left{
	background-image: url(box1-top-left.gif);
	background-repeat: no-repeat;
	height: 10px;
	width: 10px;
}
.box1-top-center{
	background-image: url(box1-top-center.gif);
	background-repeat: repeat-x;
	height: 10px;
	width: auto;
}
.box1-top-right{
	background-image: url(box1-top-right.gif);
	background-repeat: no-repeat;
	height: 10px;
	width: 10px;
}
.box1-left{
	background-image: url(box1-left.gif);
	background-repeat: repeat-y;
	height: auto;
	width: 10px;
}
.box1-right{
	background-image: url(box1-right.gif);
	background-repeat: repeat-y;
	height: auto;
	width: 10px;
}
.box1-bom-left{
	background-image: url(box1-bom-left.gif);
	background-repeat: no-repeat;
	height: 11px;
	width: 10px;
}
.box1-bom-center{
	background-image: url(box1-bom-center.gif);
	background-repeat: repeat-x;
	height: 11px;
	width: auto;
}
.box1-bom-right{
	background-image: url(box1-bom-right.gif);
	background-repeat: no-repeat;
	height: 11px;
	width: 10px;
}
.box1-main{
	background-color: #FFF;
	padding: 0px;
	font-size: 14px;
	color: #000;
}

/*----------------mis index css---------------*/
.mis-top-bg{
	background-image: url(mis-top-bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 112px;
	width: auto;
	padding: 0;
}
.mis-top-logo{
	background-image: url(mis-top-logo.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 112px;
	width: auto;
	padding: 0;
}
.mis-top-but{
	text-align: right;
	height: 28px;
	width: auto;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
}
.mis-top-but a {
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
.mis-top-but a:hover {
	color: #FFFF00;
}
.mis-top-txt{padding:3px 15px 0px 3px}
.mis-top-nav{
	height: 90px;
	width: auto;
}
.mis_left, .mis_right {
	width:25%;
}

.mis_center {
	width:50%;
}
.left {
 float:left;
}

.right {
 float:right;
}
.root {
	width:100%;
	height:auto;
	margin:auto;
}
.root * {
/*此属性FF的说*/
 -moz-user-select:none;
}
.root-main{padding:3px 4px 0px 3px}

/*---------------------------------------------*/
.cell_left, .cell_right {
	width:100%;
}
.cell_center {
	width:100%;
}
.left {
 float:left;
}
.row {
 clear:both;
}
.r_nbsp {
 width:10px;
}
.line {
 width:100%px;
 height:0px;
 overflow:hidden;
}
.move {
	border:#CCCCCC 0px solid;
	width:100%;
	height:aotu;
	margin-top:0px;
	margin-bottom:2px;
	display:none;
}
.title {
 height:24px;
 line-height:24px;
 background:#0065B3;
}
.title_a {
	width:auto;
	margin-right:80px;
	cursor:move;
	font-size:13px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:left;
	padding-left:3px;
	padding-top: 1px;
}
.title_reduce, .title_lock, .title_edit, .title_close {
 float:right;
 width:20px;
 font-size:9px;
 color:#CCCCCC;
}
.title_reduce, .title_lock, .title_edit {
 cursor:pointer;
}
.title_close {
 cursor:default;
}
.content {
 height:100px;
 border-top:#CCCCCC 1px solid;
 background:#FFFFFF;
 font-size:12px;
 line-height:130%;
}
.CDrag_temp_div {
 border:#CCCCCC 1px dashed;
 margin-top:5px;
 margin-bottom:5px;
}
a#DEL_CDrag, a#ADD_CDrag {
 color:#6699CC;
 text-decoration:none;
}
a#DEL_CDrag:hover, a#ADD_CDrag:hover {
 color:#FF0000;
}
.Dall_screen, .Iall_screen {
 position:absolute;
 left:0px;
 top:0px;
}
.Dall_screen {
 z-index:99;
 background-color:#000000;
 filter:alpha(opacity=30);
 opacity:0.3;
}
.Iall_screen {
 z-index:98;
 filter:alpha(opacity=0);
 opacity:0;
}
.Nall_screen {
 position:absolute;
 z-index:100;
 left:300px;
 top:100px;
 width:300px;
 height:auto;
 border:#6699CC 1px solid;
 background-color:#F0FAFF;
 padding:10px 0 10px 0;
}
.Call_screen {
 width:100%;
 height:auto;
 line-height:30px;
 font-size:12px;
 padding-bottom:10px;
}
.title img {
	padding-right: 4px;
}

/*-------------2010.05.24-----------------*/
.LabelBodyTb{
	width:100%;
	padding: 1px;
	text-align:center;
	background-color: #FFFFFF;
	border: 1px solid #93B9D9;
}
.LabelBodyTbTitle{
	width:190px;
	COLOR: #1c488f;
	LETTER-SPACING: 2px;
	TEXT-ALIGN: left;
	border-top: 1px solid #E8F1FA;
	border-right: 1px solid #c1dad7;
	border-bottom: 1px solid #B1D0CD;
	font-size: 14px;
	font-weight: bold;
	background-color: #c3d8e9;
	background-image: url(bg_header.jpg);
	background-repeat: repeat-x;
	padding-left: 20px;
	height: auto;
	vertical-align: middle;
	background-position: top;
}
.LabelBodyTbEntry{
	height:16px;
	background-color: #E6EFF7;
	font-size: 12px;
	line-height: 140%;
	border: 1px none #2D74C6;
	text-align: left;
	padding: 3px;
}
.LabelBodyTbEntry2{
	height:16px;
	background-color: #ffffff;
	font-size: 12px;
	line-height: 140%;
	border: 1px none #2D74C6;
	text-align: left;
	padding: 3px;
}
.sub-title{
	height: 26px;
	width: 100%;
	border-right: 1px solid #FFF;
	background-color: #0065b3;
	margin-bottom: 2px;
	font-size: 14px;
	color: #FFF;
}
.sub-left-ico{
	width: 26px;
	padding-top: 4px;
	text-align: center;
}
.sub-right-ico{
	width: 20px;
	padding-top: 4px;
}
.sub-title-txt{
	width: auto;
	padding-top: 4px;
	letter-spacing: 1px;
	text-indent: 3px;
}

/*-------------2010.05.27---------------*/
.glossymenu{
	position: relative;
	margin: 0; /*tab background image path*/
	height: 25px;
	list-style: none;
	padding: 0;
	padding-left: 25px;
}
.glossymenu li{
	float:left;
}
.glossymenu li a{
	float: left;
	display: block;
	color:#FFFFFF;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
	padding:0 2px 0 14px; /*Padding to accomodate left tab image. Do not change*/
	height: 25px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
}
.glossymenu li a b{
	float: left;
	display: block;
	padding: 2px 12px 0 0; /*Padding of menu items*/
}
.glossymenu li.current a, .glossymenu li a:hover{
	color: #000000; /*left tab image path*/
	background-position: left;
	background-image: url(menub_hover_left.gif);
	background-repeat: no-repeat;
}
.glossymenu li.current a b, .glossymenu li a:hover b{
	color: #000000; /*right tab image path*/
	background-image: url(menub_hover_right.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
.mis-return a{
	color:#FFFFFF;
	text-decoration: none;
	font-size: 13px;
	cursor: pointer;
	padding-left: 2px;
}
.mis-return a:hover{
	color:#FFFF00;
}

/*  2010.06.18  */
.pop-main{
	border: 3px solid #9cd9f6;
	padding: 0px 1px 1px 1px;
	background-color: #FFF;
}
.pop-in{border: 1px solid #FFF;}
.pop-out{border: 1px solid #009ee8;}
.pop-title{
	font-size: 15px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	letter-spacing: 2px;
	background-color: #0065b3;
	height: 26px;
	width: auto;
	line-height: 180%;
}
.pop-but{
	border: 1px solid #99bbe8;
	height: 33px;
	width: auto;
	background-color: #d5e2f2;
	margin: 1px 0px 0px 0px;
}
.pop-butMain{
	border-top: 1px solid #f1f6fc;
	text-align: right;
	padding: 4px 3px 0px 0px;
}
.pop-but01 {
	BORDER-RIGHT: #ceb80d 1px solid;
	BORDER-TOP: #ceb80d 1px solid;
	FONT-SIZE: 12px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#f3dc41); 								    BORDER-LEFT: #ceb80d 1px solid;
	CURSOR: hand;
	COLOR: #000000;
	BORDER-BOTTOM: #ceb80d 1px solid;
	margin: 0px 2px 0px 2px;
	text-decoration: none;
	padding: 1px 0px 0px 0px;
	height: 23px;
	width: auto;
}

/*------------------ 2010.06.25 --------------------*/
.POPtab-Title{
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 150%;
	text-align: center;
	letter-spacing: 6px;
	height: 20px;
	border-top: 1px solid #D8E3F1;
	border-right: 1px solid #6174A7;
	border-left: 1px solid #D8E3F1;
	border-bottom: 1px solid #435279;
	background-color: #6699CC;
	padding: 3px;
}
.POPtabTbEntry{
	height:16px;
	background-color: #FFF;
	font-size: 14px;
	line-height: 150%;
	border: 1px none #2D74C6;
	padding: 3px;
	text-align: left;
}
.POPtabTbEntry2{
	height:20px;
	background-color: #DFE8F6;
	font-size: 14px;
	line-height: 150%;
	border: 1px none #2D74C6;
	padding: 3px;
	text-align: left;
}

/*-----------------------2010.07.30------------------------------*/
.IcoNav-main a {
	color: #000;
	cursor: hand;
	text-decoration: none;
	font-size: 15px;
}
.IcoNav-main a:hover{
	color: #F60;
}
.IcoNav-main div{
	width: 120px;
	height: 90px;
	background-repeat: no-repeat;
	float: left;
	margin: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align: center;
	margin-right: 20px;
}
.IcoNav-main li{
	float: left;
	width: 33%;
	list-style:none;
}
/*--------------------------start 25%------------------------------*/
.IcoNav-main2 a {
	color: #000;
	cursor: hand;
	text-decoration: none;
	font-size: 15px;
}
.IcoNav-main2 a:hover{
	color: #F60;
}
.IcoNav-main2 div{
	width: 120px;
	height: 90px;
	background-repeat: no-repeat;
	float: left;
	margin: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align: center;
	margin-right: 20px;
}
.IcoNav-main2 li{
	float: left;
	width: 25%;
	list-style:none;
}
/*--------------------------end 25%------------------------------*/
.top-flash{margin-top:-2px;}

/*------------------------2010.10.11---------------------*/
.popword-title{
	font-size: 14px;
	color: #FFF;
	text-align: left;
	background-color: #0065b3;
	height: 20px;
	width: auto;
	padding: 6px 0px 0px 25px;
	background-image: url(NewsIco1.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.popword-title span {
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
}

.mod-hr {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D3E3F1;
	font-size: 1px;
	width: auto;
	padding-right: 10px;
	margin-top: 12px;
	margin-bottom: 8px;
}
.ArticleTitle {
	font-family: "隶书";
	font-size: 32px;
	color: #E50101;
	text-decoration: none;
	letter-spacing: 2px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	padding: 20px 0px 10px 0px;
}
.ArticleTitleTwo {
	font-size: 24px;
	color: #51B400;
	text-decoration: none;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	font-family: "隶书";
	padding: 15px 0px 15px 0px;
	width: auto;
}
.ArticleInfo {
	width: auto;
	height: 20px;
	color: #999999;
	font-size: 13px;
	text-align: center;
	padding-top: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}
.ArticleMain {
	font-size: 14px;
	color: #000000;
	padding-right: 15px;
	padding-left: 15px;
	letter-spacing: 1px;
	line-height: 180%;
	background-image: url(ArticleMain-bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.ArticleMainIco {
	font-size: 14px;
	color: #F06522;
}
.NewsIcoTwo {
	height: 24px;
	width: 23px;
	background-image: url(NewsIco2.gif);
	background-repeat: no-repeat;
	background-position: top;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #2993bd;
}
.NewsTxtTwo {
	height: 24px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #2993bd;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	text-align: left;
	padding-top: 2px;
}
.NewsTxtTwo a:link,.NewsTxtTwo a:visited {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
.NewsTxtTwo a:hover{
	color: #eb6100;
}
.NewsTime {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #2993bd;
	font-size: 13px;
	color: #999999;
	text-decoration: none;
	text-align: left;
	width: 53px;
}
.PageTureTxt01 {
	font-size: 12px;
	color: #666666;
	text-align: right;
	padding-right: 10px;
	margin-bottom: 5px;
}
.PageTureTxt01 a:link,.PageTureTxt01 a:visited {
	color: #000000;
	text-decoration: none;
	font-size: 12px;
}
.PageTureTxt01 a:hover{
	color: #F26422;
	text-decoration: underline;
}
